:host {
  display: grid;
  min-height: 800px;
  grid-column: 1 / 8;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 500px auto 10px;
  grid-gap: 7px;
  background-color: rgba(222,222,222,0.4);

}
div {

}

p {
  font-family: "Cormorant Garamond Medium";
}
