/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/AClippedBG.png");
}
.spangem-wrapper {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(7, 1fr);
  color:#5a9968;
  backdrop-filter: blur(10px);
}
.spangem-top {
  grid-row-end: 1;
  grid-column: auto;
  padding:12px;
  background-color: #083642;
}
.articles-show {
  grid-column: 1 / 6 ;
  grid-row-start: 1;
  grid-row-end: 3;
  padding:22px;
  background-image: revert;
  background-color: #183032;
  opacity: 0.8;
  border-style: inset;
  border-radius: 5px;
  color: #a8bfd0;
}
.articles-show p {
  filter: drop-shadow(3px 2px #484042);
  backdrop-filter: brightness(90%);
}
.articles-index {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 6 / 8;
  background-color: #083642;
  padding:12px;
  opacity: .7;
  border-style: inset;
  border-radius: 5px;
  color: #a8efd0;

}

h1 {
  filter: drop-shadow(4px 2px 5px #489942);
}
h6 {
  font-family: Arimo;
  padding:0;
  margin:0;

}
