/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/AClippedBG.png");
}
.spangem-wrapper {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 5fr;
  color:#5a9968;
  backdrop-filter: blur(10px);
}
.spangem-top {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  padding:12px;
  background-color: #083642;
}
.articles-show {
  grid-column: 1 / 6;
  padding:22px;
  background-image: revert;
  background-color: #083642;
  opacity: 0.8;
  border-style: inset;
  border-radius: 5px;
  color: #a8efd0;
}
.articles-show p {
  filter: drop-shadow(3px 2px #083642);
  backdrop-filter: brightness(95%);
}
.articles-index {
  grid-column: 6 / 8;
  background-color: #083642;
  padding:12px;
  opacity: .7;
  border-style: inset;
  border-radius: 5px;
  color: #a8efd0;
}

h1 {
  filter: drop-shadow(4px 2px 5px #489942);
}
